.Hlayout {
    display: flex;
    flex-direction: row;
}
.Vlayout {
    display: flex;
    flex-direction: column;
}

body {

    margin: 0%;
    font-family:Verdana;
}
.headerBlock{
    display: flex;
    background-color: rgba(184, 149, 253, 1);
    justify-content: space-between;
    position: sticky;
    top: 0;
    


}
.Main {
    border: 2px;
    border-color: blue;
    /* background-color: blueviolet; */
    background: linear-gradient(rgba(184, 149, 253, 1),rgba(130, 90, 210, 1),rgba(67, 46, 108, 1), rgba(32, 22, 52, 1));
    align-self: stretch;
    padding: 20px;
    justify-content: space-between;
    /* padding-bottom: 30px; */
    

  }

.GreetingBlock{
    background-color: rgba(247, 243, 255, 1);
    border-radius: 15px;
    padding: 30px;
}
.Greeting{
    /* width:fit-content; */

    justify-content: space-between;
    background-color: rgb(90, 37, 196);
    /* object-fit:contain; */
    
}
.GreetingTextBlock{
    justify-content: center;
    background-color: rgb(37, 146, 196);
    text-align: center;
}
.GreetingImages{
    justify-content: space-between;
    background-color: rgb(37, 196, 64);
    border-radius: 15px;
    margin-top: 30px;

}


.DropMenuButton{
    border-radius: 15px;
    background-color: rgba(247, 243, 255, 1);
    border-width: 2px;
    border-color: chartreuse;
}
.drop_info{
    background-color: cadetblue;

}
.ServicesBlock{
    background-color: rgb(37, 146, 196);
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;

}



.WorkersBlock{
    background-color: rgba(247, 243, 255, 1);
    border-radius: 15px;
    text-align: center;
    
}
.FirstWorkersBlock{
    padding: 20px;

}

.PatientsBlock{
    background-color: rgba(247, 243, 255, 1);
    border-radius: 15px;
}
footer{
    background-color: (32, 22, 52, 1);
}
